<div class="d-block d-sm-none">
  <div id="calendar" class="hidden">
    <div class="header">
      <button id="calTime_prevBtn">&lt;</button>
      <div id="currentDate"></div>
      <button id="calTime_nextBtn">&gt;</button>
    </div>
    <div class="weekdays"></div>
    <div class="days"></div>
    <div class="container my-5 hidden" id="calTime_date">
      <div class="row">
        <div class="col-12">
          <p>Available starting times for <span></span></p>
        </div>
        <div class="col-6">
          <p>AM</p>
          <div id="amTimeSlots"></div>
        </div>
        <div class="col-6">
          <p>PM</p>
          <div id="pmTimeSlots"></div>
        </div>
      </div>
    </div>
  </div>
</div>
