<div class="d-none d-sm-block">
  <div class="" id="table-container" style="display: none">
    <div class="d-flex justify-content-end gap-3 mb-3" id="next_prev_btn">
      <span style="display: none" id="prevBtn" onclick="paginateTable('prev')"
        >Previous Week</span
      >
      <span onclick="paginateTable('next')">Next Week</span>
    </div>
    <div class="table-responsive" id="">
      <table id="table" class="table table table-striped">
        <thead class="table-light"></thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
</div>
