<div class="tab_content" id="background">
  <p class="mb-2">Default colors</p>
  <div class="flex flex-wrap items-center gap-2">
    <button
      onclick="changeCanvasBackgroundColor('#F19166')"
      class="h-[45px] w-[45px] rounded border border-[#F19166] hover:border-blue-500 shadow bg-[#F19166]"
    ></button>
    <button
      onclick="changeCanvasBackgroundColor('#F6CC79')"
      class="h-[45px] w-[45px] rounded border border-[#F6CC79] hover:border-blue-500 shadow bg-[#F6CC79]"
    ></button>
    <button
      onclick="changeCanvasBackgroundColor('#546DE5')"
      class="h-[45px] w-[45px] rounded border border-[#546DE5] hover:border-blue-500 shadow bg-[#546DE5]"
    ></button>
    <button
      onclick="changeCanvasBackgroundColor('#E05F40')"
      class="h-[45px] w-[45px] rounded border border-[#E05F40] hover:border-blue-500 shadow bg-[#E05F40]"
    ></button>
    <button
      onclick="changeCanvasBackgroundColor('#C44569')"
      class="h-[45px] w-[45px] rounded border border-[#C44569] hover:border-blue-500 shadow bg-[#C44569]"
    ></button>
    <button
      onclick="changeCanvasBackgroundColor('#574A90')"
      class="h-[45px] w-[45px] rounded border border-[#574A90] hover:border-blue-500 shadow bg-[#574A90]"
    ></button>
    <button
      onclick="changeCanvasBackgroundColor('#F78FB3')"
      class="h-[45px] w-[45px] rounded border border-[#F78FB3] hover:border-blue-500 shadow bg-[#F78FB3]"
    ></button>
    <button
      onclick="changeCanvasBackgroundColor('#fff')"
      class="h-[45px] w-[45px] rounded border border-[#fff] hover:border-blue-500 shadow bg-[#fff]"
    ></button>
    <button
      onclick="changeCanvasBackgroundColor('#3EC0D3')"
      class="h-[45px] w-[45px] rounded border border-[#3EC0D3] hover:border-blue-500 shadow bg-[#3EC0D3]"
    ></button>
    <button
      onclick="changeCanvasBackgroundColor('#E56767')"
      class="h-[45px] w-[45px] rounded border border-[#E56767] hover:border-blue-500 shadow bg-[#E56767]"
    ></button>
    <button
      onclick="changeCanvasBackgroundColor('#303952')"
      class="h-[45px] w-[45px] rounded border border-[#303952] hover:border-blue-500 shadow bg-[#303952]"
    ></button>
  </div>
</div>
