<div
  id="elements"
  class="grid w-full gap-8 px-14 grid-cols-2 tab_content hidden"
>
  <img
    src="/img/square.png"
    alt=""
    onclick="
    imageAdd(this)
  "
    class="cursor-pointer"
  />
  <img
    src="/img/new-moon.png"
    alt=""
    onclick="
    imageAdd(this)
  "
    class="cursor-pointer"
  />
  <img
    src="/img/bleach.png"
    alt=""
    onclick="
    imageAdd(this)
  "
    class="cursor-pointer"
  />
  <img
    src="/img/hexagonal.png"
    alt=""
    onclick="
    imageAdd(this)
  "
    class="cursor-pointer"
  />
  <img
    src="/img/facebook-messenger.png"
    alt=""
    onclick="
    imageAdd(this)
  "
    class="cursor-pointer"
  />
  <img
    src="/img/heart.png"
    alt=""
    onclick="
    imageAdd(this)
  "
    class="cursor-pointer"
  />
  <img
    src="/img/like.png"
    alt=""
    onclick="
    imageAdd(this)
  "
    class="cursor-pointer"
  />
  <img
    src="/img/maps-and-flags.png"
    alt=""
    onclick="
    imageAdd(this)
  "
    class="cursor-pointer"
  />
  <img
    src="/img/youtube.png"
    alt=""
    onclick="
    imageAdd(this)
  "
    class="cursor-pointer"
  />
</div>
